.CreatePool{
  height: 100%;
  background-color: #efefef;
}

#createPoolHeader{
  font-family: futura;
  font-size: 36px;
  text-align: center;
  padding-bottom: 2%;
  color: black;
  letter-spacing: 8px;
}

.createPoolForm{
  font-family: Lato;
}

.Select-control{
  background: white;
}

@media (min-width: 768px){
  .form-horizontal .control-label {
      text-align: center;
  }
}

#restrictionsHeader{
  font-family: futura;
  font-size: 24px;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  color: black;
  letter-spacing: 5px;
}

.react-datepicker{
  font-family: futura;
}

#createPoolButton{
  padding: 5%;
  font-family: Lato;
  background: white;
  color: black;
  border: 1px solid white;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  letter-spacing: 4px;

  transition: all 0.5s;
}

#createPoolButton:hover{
  padding: 5%;
  background: black;
  color: white;
  letter-spacing: 10px;
}
