html {
    height: 100%;
}

body{
  height: 100%;
}

#root{
  height: 100%;
}

.Login{
  width: 100%;
  height: 100%;
  background-image: url("../img/beachResort.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.LoginHeader{
  text-align: center;
}
