.Main {
  text-align: center;
}

.Main-logo {
  height: 40px;
  width: auto;
}

.Main-header {
  background-color: #222;
  font-family: futura;
  height: 150px;
  padding: 20px;
  color: white;
}

.Main-intro {
  font-family: futura;
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 40px;
}

.image {
    position: relative;
}

.image h2 {
    position: absolute;
    width: 100%;
    top: 15px;
    text-align: center;
    font-family: futura;
    font-weight: 700;
    font-size: 36px;
    color: white;
}
