.mypools{
  text-align: center;
  background: url('../img/beachResort.jpg');
  background-size: cover;
  background-position: center;
}
.myPoolsHeader{
  text-align: center;
  font-family: futura;
  font-size: 32px;
}

#myPoolsList{
  text-align: center;
  padding: 2%;
}

.panel{
  text-align: left;
  font-family: Lato;
  font-size: 16px;
  /*background-image: url("../img/paris.png") !important;*/
}

.poolPreviews{
  text-align: left;
  font-family: Lato;
  color: white;
  font-size: 16px;
  background-image: url("../img/paris.png") !important;
}

.Paris{
  text-align: left;
  font-family: Lato;
  color: white;
  font-size: 16px;
  background-image: url("../img/paris.png") !important;
}

.Tokyo{
  text-align: left;
  font-family: Lato;
  color: white;
  font-size: 16px;
  background-image: url("../img/tokyo.png") !important;
}

.Florence{
  text-align: left;
  font-family: Lato;
  color: white;
  font-size: 16px;
  background-image: url("../img/florence.png") !important;
}
