.navbar-brand {
  display: flex;
  align-items: center;
}

.link {
  color: black;
  font-family: futura;
  font-weight: 400;
}

.link:hover {
  color: gray;
  text-decoration: none;
}

.header-text {
  color: black;
  text-align: center;
}
