.poolDetails{
  background-color: #efefef;
  height: 100%;
}

#infoDetails{
  padding: 2%;

}

#locationDetails{
  font-size: 32px;
  margin-bottom: 2%;
}

#detailsLeftSide{

}

#bookedLocationDetails{
  font-size: 32px;
  margin-bottom: 2%;
}

#closedLocationDetails{
  font-size: 32px;
  margin-bottom: 2%;
}

#openTravelerDetails{
  margin-bottom: 1%;
}

#bookedTravelerDetails{
  margin-bottom: 1%;
}

#closedTravelerDetails{
  margin-bottom: 1%;
}

#openRestrictionDetails{
  margin-bottom: 1%;
}

.Paris{
  text-align: left;
  font-family: Lato;
  color: white;
  font-size: 16px;
  background-image: url("../img/paris.png") !important;
  border: none !important;
  border-color: transparent !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.Tokyo{
  text-align: left;
  font-family: Lato;
  color: white;
  font-size: 16px;
  background-image: url("../img/tokyo.png") !important;
}

.Florence{
  text-align: left;
  font-family: Lato;
  color: white;
  font-size: 16px;
  background-image: url("../img/florence.png") !important;
}
