.searchPoolPanel.panel-body{
  padding: 0 !important;
}

#infoSide{
  padding-left: 4.5%;
}

#locationInfo{
  font-size: 28px;
  margin-bottom: 1%;
  letter-spacing: 10px;
}

#dateInfo{
  margin-bottom: 2%;
  letter-spacing: 2px;
}

#userInfoPreview{
  letter-spacing: 2px;
  margin-bottom: 1%;
}

#travelerInfo{
}

#sharePriceInfo{

}

#themeInfo{
  letter-spacing: 2px;
  margin-bottom: 1%;
}

#detailsButton{
  width: 15%;
  /*text-align: center;*/
  padding: 2%;
  margin-top: 3%;
  letter-spacing: 2px;
  color: white;

  transition: all 0.25s;
}

#detailsButton>.link{
color: #00408D;
  /*color: #054A9D;*/
}

#detailsButton:hover{
  letter-spacing: 5px;

  border-radius: 4px;

}

#minPrice{
  color: green;
}

#imageSide{
  height: 205.45px;
  background-color: white;
  /*background: url('../img/goatPhoto.jpeg');*/
  background-position: center;
  background-size: cover;
}

#poolImage{
  height: 100%;
  width: 100%;
}
