.poolDetails{
  background-color: #efefef;
  height: 100%;
  letter-spacing: 2px;
}

.poolOpenDetails{
  background-color: #fffcf4
}

#imagesThingy>.col-sm-4>img {
  height: 100%;
  width: 100%;
}

#openDetailsImages{
  margin-bottom: 1%;
  padding-left: 2%;
}


#detailsBackButton {
  font-family: futura;
  font-size: 36px;
  color: black;
  padding: 10px;
  width: 10%;
  border-radius: 0;
  border-color: transparent;
  text-shadow: none;
  box-shadow: none;
  margin-right: 2%;
  letter-spacing: 1.5px;

  transition: all 0.5s;
}
#detailsBackButton:hover{
  background-color: white;
}

#detailsBackButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#detailsBackButton span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#detailsBackButton:hover span {
  padding-right: 25px;
  letter-spacing: 5px;
}
#detailsBackButton:hover span:after {
  opacity: 1;
}

#infoDetails{
  padding: 2%;

}

#locationDetails{
  font-size: 32px;
  margin-bottom: 2%;
  letter-spacing: 8px;
  text-transform: uppercase;
}

#openDateDetails{
  letter-spacing: 2px;
  margin-bottom: 1%;
}

#detailsLeftSide{

}

#imageThingy{

  height: 100%;

}

#bookedLocationDetails{
  font-size: 32px;
  margin-bottom: 2%;
}

#closedLocationDetails{
  font-size: 32px;
  margin-bottom: 2%;
}

#openTravelerDetails{
  margin-bottom: 1%;
}

#bookedTravelerDetails{
  margin-bottom: 1%;
}

#closedTravelerDetails{
  margin-bottom: 1%;
}

#openRestrictionDetails{
  margin-bottom: 1%;
}

#joinButton{
  letter-spacing: 5px;
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
  border: 1.25px solid lightgray;

  transition: all 0.5s;
}

#joinButton:hover{
  background-color: green;
  color: white;
  border-color: black;

  letter-spacing: 10px;
  padding-left: 15%;
  padding-right: 15%;
}

.Paris{
  text-align: left;
  font-family: Lato;
  color: white;
  font-size: 16px;
  background-image: url("../img/paris.png") !important;
  border: none !important;
  border-color: transparent !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.Tokyo{
  text-align: left;
  font-family: Lato;
  color: white;
  font-size: 16px;
  background-image: url("../img/tokyo.png") !important;
}

.Florence{
  text-align: left;
  font-family: Lato;
  color: white;
  font-size: 16px;
  background-image: url("../img/florence.png") !important;
}
